/* 
    Document   : style
    Created on : 05.09.2013, 15:05:58
    Author     : karim
    Description:
        Purpose of the stylesheet follows.
*/

@media only screen and (orientation: landscape){
    /*nur wenn das tablet auf landscape gerichtet ist*/  


    @font-face { font-family: Enigma_2; src: url('Enigma_2.ttf'); } 
    @font-face { font-family: EnigmaB_2; src: url('EnigmaB_2.ttf'); } 
    @font-face { font-family: Enigma_2i; src: url('Enigma_2i.ttf'); } 
    @font-face { font-family: QuattrocentoSans; src: url('QuattrocentoSans-Regular.otf'); }





    .startPage{
        background-image: url('images/bg/bg-wheels.png');
        background-color: transparent;
        background-size: 100%;
        width: 100%;
        height: 100%;

        min-height:100%;
    }



    .loginPage{
        background-image: url('images/bg/bg-empty.png');
        background-color: transparent;
        background-size: 100%;
        width: 100%;
        height: 100%;

        min-height:100%;
    }



    .startScreen{
        background-image: url('images/bg/bg-startbildschirm.png');
        background-color: transparent;
        background-size: 100%;
        width: 100%;
        height: 100%;        
        min-height:100%;
    }


    .whitePage{
        background-image: url('images/bg/bg-white.png');
        background-color: transparent;
        background-size: 100%;
        width: 100%;
        height: 100%;

        min-height:100%;
    }


    .introPage{
        background-image: url('images/bg/bg-standard.png');
        background-color: transparent;
        background-size: 100%;
        width: 100%;
        height: 100%;

        min-height:100%;
    }

    .defaultButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: x-large;
        text-shadow: none;
    }


    .defaultButton:active{
        background-image:url('images/btns-bg/bt-weiter.png');
        position:absolute; 
        bottom: 1.7%;
        right: 1.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
     .sendResultsButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 330px;
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: x-large;
        text-shadow: none;
    }


    .sendResultsButton:active{
        background-image:url('images/btns-bg/bt-ergebnisse-senden.png');
        position:absolute; 
        bottom: 1.7%;
        right: 1.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .startButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: x-large;
        text-shadow: none;
    }


    .startButton:active{
        background-image:url('images/btns-bg/bt-start.png');
        position:absolute; 
        bottom: 1.7%;
        right: 1.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    .startScreeningButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 330px;
        position: absolute;
        bottom: 5%;
        right: 1%;
        font-size: x-large;
        text-shadow: none;
    }


    .startScreeningButton:active{
        background-image:url('images/btns-bg/bt-screening-starten.png');
        position:absolute; 
        bottom: 4.8%;
        right: 1.2%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    
    .bottomMiddleButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        bottom: 5%;
        left: 39%;
        font-size: x-large;
        text-shadow: none;
    }


    .bottomMiddleButton:active{
        background-image:url('images/btns-bg/bt-start.png');
        position:absolute; 
        bottom: 4.8%;
        left: 38.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    .removePatientButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 330px;
        position: absolute;
        bottom: 5%;
        left: 33.5%;
        font-size: x-large;
        text-shadow: none;
    }


    .removePatientButton:active{
        background-image:url('images/btns-bg/bt-patient-entfernen.png');
        position:absolute; 
        bottom: 4.8%;
        left: 33.3%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    
    .buttonLong{
        background-size: 100%;
        background-repeat:no-repeat;  
        background: #57BB58;
        color: white;
        font-family: EnigmaB_2;
        height: 60px;
        width: 95%;
        position: relative;
        top: 2%;
        right: 1%;
        left: 1%;
        font-size: x-large;
        text-shadow: none;
        display: inline-block;
    }
    
    

    .loginButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        Top: 5%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .loginButton:active{
        background-image:url('images/btns-bg/bt-anmelden.png');
        position:absolute; 
        Top: 5.2%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .loginButtonBottom{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .loginButtonBottom:active{
        background-image:url('images/btns-bg/bt-anmelden.png');
        position:absolute; 
        bottom: 4.8%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    .searchUserButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 330px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .searchUserButton:active{
        background-image:url('images/btns-bg/bt-benutzer-finden.png');
        position:absolute; 
        bottom: 4.8%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    .loginButtonBottomRight{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .loginButtonBottomRight:active{
        background-image:url('images/btns-bg/bt-anmelden.png');
        position:absolute; 
        bottom: 4.8%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    .addPatientButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 330px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .addPatientButton:active{
        background-image:url('images/btns-bg/bt-patient-anlegen.png');
        position:absolute; 
        bottom: 4.8%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    
    .tryAgainRight{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 330px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .tryAgainRight:active{
        background-image:url('images/btns-bg/bt-nochmal-versuchen.png');
        position:absolute; 
        bottom: 4.8%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    
    .loginButtonBackBottomRight{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .loginButtonBackBottomRight:active{
        background-image:url('images/btns-bg/bt-zurueck.png');
        position:absolute; 
        bottom: 4.8%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    
     .logoutButtonTopRight{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        top: 2%;
        right: 2%;
        font-size: x-large;
        text-shadow: none;
    }

    .logoutButtonTopRight:active{
        background-image:url('images/btns-bg/bt-beenden.png');
        position:absolute; 
        top: 2.2%;
        right: 1.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    .homeButtonTopRight{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 81px;
        width: 77px;
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .homeButtonTopRight:active{
        background-image:url('images/btns-bg/bt-home.png');
        position:absolute; 
        top: 5.2%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
     .loginButtonBottomBackLeft{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        bottom: 5%;
        left: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .loginButtonBottomBackLeft:active{
        background-image:url('images/btns-bg/bt-zurueck.png');
        position:absolute; 
        bottom: 4.8%;
        left: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    .backButtonTopRight{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .backButtonTopRight:active{
        background-image:url('images/btns-bg/bt-zurueck.png');
        position:absolute; 
        top: 5.2%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    
     .showResultsButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 330px;
        position: absolute;
        bottom: 5%;
        left: 1%;
        font-size: x-large;
        text-shadow: none;
    }

    .showResultsButton:active{
        background-image:url('images/btns-bg/bt-ergebnisse-anzeigen.png');
        position:absolute; 
        bottom: 4.8%;
        left: 0.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .startTaskButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 230px;
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: x-large;
        text-shadow: none;
    }


    .startTaskButton:active {
        background-image:url('images/btns-bg/bt-aufgabe-starten.png');
        position:absolute; 
        bottom: 1.7%;
        right: 1.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .nextTaskButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 320px;
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: x-large;
        text-shadow: none;
    }


    .nextTaskButton:active{
        background-image:url('images/btns-bg/bt-next-task.png');
        position:absolute; 
        bottom: 1.7%;
        right: 1.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }




    .instructionLong{
        text-shadow: none;
        text-align: justify;
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
        font-family: Quattrocento;

    }

    .wrap {
        width: 100%;

        position: absolute;
        top: 90px;
        left: 1px;
        right: 1px;
    }

    .floatleft {
        float:left; 
        width: 50%;
        background-color: transparent;
        height: auto;

    }

    .floatright {
        float: right;
        background-color: transparent;
        width: 50%;
        height: auto;

    }

    .instructionContent{
        float:left; 
        width: 45%;
        overflow-y: auto;
        position: absolute;
        top: 40px;
        left: 10px;
        right: 10px;

    }

    .instructionHeader{
        font-size: 20px;
        font-family: Enigma_2;
        color: black;
        text-shadow: none;
        text-align: center;
        font-weight: bold;
        position: absolute;       
        left: 60px;
        top: 0px;

    }

    .exampleHeader{
        font-size: 20px;
        font-family: Enigma_2;
        color: black;
        text-shadow: none;
        text-align: center;
        font-weight: bold;
        position: absolute;       
        left: 51%;
        top: 0%;

    }


    .selectionHintText{
        font-size: 30px;
        font-family: Enigma_2;
        color: red;
        text-shadow: none;
        text-align: center;
        font-weight: bold;
        position: relative;       
        left: 40px;
        top: 0px;
        bottom: 0px;


    }

    .fillinHintText{
        font-size: 30px;
        font-family: Enigma_2;
        color: red;
        text-shadow: none;
        text-align: left;
        font-weight: bold;
        position: relative;       
        left: 7%;
        text-shadow: none; 
        display: inline;


    }

    .answerSelectionHintText{
        font-size: 30px;
        font-family: Enigma_2;
        color: red;
        text-shadow: none;
        text-align: center;
        font-weight: bolsd;
        position: relative;       
        left: 5px;
        top: 0px;
        bottom: 0px;


    }


    .instructionText{
        font-size: 20px;
        font-family: QuattrocentoSans;
        color: black;
        text-shadow: none;
        text-align: justify;
        font-weight: normal; 
        margin-left: 10px;
        margin-right: 10px;
    }

    .instructionTextForExample{
        font-size: 20px;
        font-family: Quattrocento;
        color: black;
        text-shadow: none;
        text-align: center;
        font-weight: bold;       
    }


    .infoIcon{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 35px;
        width: 35px;
        position: absolute;       
        left: 10px;
        top: 3px;

    }
    
    
    .milestoneIcon{
        background-size: 100%;
        background-repeat:no-repeat;   
        width: 163px;
        height: 211px;
        position: absolute;       
        left: 5%;
        top: 5%;

    }


    .selectionHintIcon{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 35px;
        width: 35px;
        position: absolute;       
        left: 5%;
        bottom: 10%;

    }


    .fillinHintIcon{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 35px;
        width: 35px;
        position: relative;       
        left: 5%;
        top: 5%;


    }

    .answerSelectionHintIcon{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 35px;
        width: 35px;
        position: absolute;       
        left: 1%;
        bottom: 10%;

    }


    .selectionHintDiv{
        visibility: hidden;
        position: absolute;
        bottom: 8%;
        left: 5%; 
        width: 70%;
        height: Auto;
    }


    .fillinHintDiv{
        visibility: hidden;
        background-color: transparent;
        position: absolute;
        bottom: 8%;
        left: 5%; 
        width: 70%;
        height: 10%;
    }

    .answerSelectionHintDiv{
        visibility: hidden;
        position: absolute;
        bottom: 20%;
        left: 1%; 
        width: 90%;
        height: Auto;
    }



    .divWithRoundedCorners{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        background: #8BDE8C;
        border-radius: 10px;
        width: 90%;
    }

    .wordrectangleForExample{
        width: 110px;
        height: 40px;
        background: #57BB58;
        border-radius: 1px;
        border:solid 2px black ;
        text-shadow: none;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 50px;

    }

    .transitionPageText
    {
        font-size: 45px;
        font-family: EnigmaB_2;
        color: black;
        text-shadow: none;
        position: absolute;
        top: 30%;
        left: 5%;
    }
    
    
    .endPageHint
    {
        font-size: 45px;
        font-family: EnigmaB_2;
        color: black;
        text-shadow: none;
        position: absolute;
        top: 30%;
        left: 15%;
    }
    
    .progressbarHint
    {
        font-size: 35px;
        font-family: EnigmaB_2;
        color: black;
        text-shadow: none;
        position: absolute;
        top: 60%;
        left: 5%;
    }


    .numsViewHintText
    {
        font-size: 45px;
        font-family: EnigmaB_2;
        color: black;
        text-shadow: none;
        position: absolute;
        top: 10%;
        left: 1%;
    }


    .questionText
    {
        font-size: 30px;
        font-family: EnigmaB_2;
        color: black;
        text-shadow: none;
        position: absolute;
        top: 1%;
        left: 5%;
    }



    .bigview {
        display: inline;
        font-size: 110px;
        color: black;
        font-family: EnigmaB_2;
        vertical-align: middle;
        margin-top: 70px;
    }

    h1{
        text-align: center;
        color: black;
        font-family: EnigmaB_2;

    }


    .firstword {
        font-size: 40px;
        font-weight: bold;
        background: #57BB58;
        font-family: EnigmaB_2;
        text-align: center;
        width: 300px;
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        text-shadow: none;
        border: solid 2px black;
    }

    .questionMark{
        font-size: 50px;
        font-weight: bolder;
        font-family: EnigmaB_2;
        display: inline
    }


    .wordstable {
        border:black;
        border-spacing: 30px;
        width: 1000px;
        height: 100px;
        font-family: serif;
        font-size: 40px; 
        background: transparent;
        font-family: serif;
        table-layout: fixed;
    }

    .wordstable tr:hover{
        cursor: pointer;
    }


    .secondWord{
        text-shadow: none;
        text-align: center;
        background: #57BB58;
        height: 60px;
        width: 100px;
        border:solid 2px black;      
        text-shadow: none;
        overflow: hidden;
        font-family: EnigmaB_2;

    }

    .tippIconBig{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 71px;
        position: absolute;       
        left: 5%;
        top: 5%;

    }


    .kreis{
        background-color: #57BB58;
        position: absolute;
        width: 100px;
        height: 100px;
        border: 1px solid black;
        text-align: center;
        border-radius: 50%;
        display: table;
        font-size: 30px;
        font-weight: bold;
        vertical-align: middle;
        text-shadow: none;

    }


    .starthint {
        background-color: transparent;
        position: absolute;
        width: 100px;
        height: 60px;
        top: 1%;
        left: 88%;
        text-align: center;
        vertical-align: middle;
        line-height: 10px;
        font-size: 40px;
        font-family: EnigmaB_2;
        text-shadow: none;
    }

    #endhint {
        background-color: transparent;
        position: absolute;
        width: 100px;
        height: 60px;
        top: 80%;
        left: 1%;
        text-align: center;
        line-height: 10px;
        text-shadow: none;
        font-size: 40px;
        font-family: EnigmaB_2;
    }


    .starthintleft{
        top: 2%;
        left: 1%;
        background-color: transparent;
        width: 100px;
        height: 60px;
        line-height: 10px;
        position: absolute;
        text-shadow: none;
        font-size: 40px;
        font-family: EnigmaB_2;
    }

    .endhintright{
        background-color: transparent;
        position: absolute;
        width: 100px;
        height: 60px;
        top: 83%;
        left: 89%;
        line-height: 10px;
        text-shadow: none;
        font-size: 40px;
        font-family: EnigmaB_2;
    }

    .countdownText{
        font-size: 50px;
        text-shadow: none;
        font-family: EnigmaB_2;
    }


    .countdown{
        text-align: center;
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;

    }


    .zahlItem{
        font-size: 180px;
        font-family: EnigmaB_2;
        vertical-align: middle;
        text-align: center;
        top:50%;
        left:50%;
        text-shadow: none;    
        color:black;
    }


    .zahlFragment{
        width: 70px;
        height: 100px;
        border: 2px solid;
        display: inline-block;
        background-color: #57BB58;
        text-align: center;
        text-shadow: none;
        vertical-align: middle;
        font-size: 70px;
        font-family: EnigmaB_2;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-left: 20px;
    }


    .numbersarrayLenght{
        text-shadow: none;
        font-size: 40px;
        font-family: EnigmaB_2;
        color: #57BB58;
        position: absolute;
        top: 80%;
        left: 70%;
        border: #57BB58 solid 1px;
    }


    .underline{
        /*text-decoration: underline;*/
        color: black;
        text-shadow: none;
        font-family: EnigmaB_2;
        font-size: 25px;

    }

    .answerChoice{
        /*text-decoration: underline;*/
        color: black;
        text-shadow: none;
        font-family: EnigmaB_2;
        font-size: 20px;

    }





    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////










    .inputSize{
        width: 100px;
        height: 20px;
    }

    .resultTextStyle{
        text-shadow: none;
        text-align: justify;

    }

    /*    .introPage{
            background: #b9c68d;
        }*/

    /*    .whitePage{
            background-image: url('images/bg/bg-white.png');
            background-color: transparent;
            background-size: 100%;
            width: 100%;
            height: 100%;
            height: auto;
            min-height:100%;
        }*/

    .testPage{
        background: #5092f4;
    }







    .kreisItem{
        display: inline-block;
        margin-left: 25px;
        list-style: none;
        text-shadow: none;
        text-align: center;
    }

    /*    .instructionText{
            text-shadow: none;
            text-align: center;
            font-family: serif;
            font-size: 40px;
            margin-left: 20px;
            margin-right: 20px;
        }*/
    /*    .defaultButton{
            height: 60px;
            width: 270px;
            font-size: x-large;
            background: orange;
            text-shadow: none;
        }*/





    .hint{
        font-weight: bold;
        color: black;
        text-decoration: none;
        text-shadow: none;
    }







    .listitem {
        font-size: 25px;
        text-decoration: none;
    }




    .smallKreis2{
        width: 80px;
        height: 80px;
        border: 1px solid black;    
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        vertical-align: middle;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 140px;
        margin-left: 70px;
    }
    .smallKreis{

        /*position: absolute;*/
        width: 80px;
        height: 80px;
        /*    top: 5px;
            left: 50%;*/
        border: 1px solid black;

        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        vertical-align: middle;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 15px;
    }

    p {
        vertical-align: middle;
        font-size: 30px;
        font-style: normal;
        font-weight: bold;
    }




    #timestamp{
        font-size: 30px;
        font-weight: bold;
    }

    #timestampV2{
        font-size: 30px;
        font-weight: bold;

    }

    #timestampV3{
        font-size: 30px;
        font-weight: bold;
    }

    #timestampV4{
        font-size: 30px;
        font-weight: bold;
    }

    .wholeImage{
        vertical-align: top;
        position:absolute;
        left:30px;
        width:300px;
        float: left;
    }

    .divTable{
        position:fixed;
        top:0px;
        right:0px;
        display:  table;
        width:auto;

        border-spacing:5px;
    }

    .divRow{
        display:table-row;
        width:auto;
    }

    .divCell{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:200px;
    }

    .imageTile{
        display: table-cell;
        table-layout: fixed;
        /*border-spacing: 5px;*/
        margin-top: 5px;
        /*margin-right: 5px;*/
        /*margin-left: 5px;*/
    }

    .targetTable1{
        /*border: 3px solid black;*/
        width: 343px;
        height: 204px;
    }

    .targetRow1{
        /*border: 3px solid black;*/
        width: 343px;
        height: 210px;
    }
    .targetCell1{
        border: 3px solid black;
        width: 171px;
        height: 210px; 
    }


    .targetTable2{
        /*border: 3px solid black;*/
        width: 343px;
        height: 343px;
    }

    .targetRow2{
        /*border: 3px solid black;*/
        width: 343px;
        height: 106px;
    }
    .targetCell2{
        border: 3px solid black;
        width: 171px;
        height: 106px; 
    }

    .targetTable3{
        /*border: 3px solid black;*/
        width: 519px;
        height: 140px;
    }

    .targetRow3{
        /*border: 3px solid black;*/
        width: 519px;
        height: 70px;
    }
    .targetCell3{
        border: 3px solid black;
        width: 173px;
        height: 70px; 
    }

    .targetTable4{
        /*border: 3px solid black;*/
        width: 342px;
        height: 324px;
    }

    .targetRow4{
        /*border: 3px solid black;*/
        width: 342px;
        height: 108px;
    }
    .targetCell4{
        border: 3px solid black;
        width: 114px;
        height: 108px; 
    }

    .targetTable5{
        /*border: 3px solid black;*/
        width: 780px;
        height: 324px;
    }

    .targetRow5{
        /*border: 3px solid black;*/
        width: 780px;
        height: 81px;
    }
    .targetCell5{
        border: 3px solid black;
        width: 156px;
        height: 81px; 
    }

    .targetTable6{
        /*border: 3px solid black;*/
        width: 468px;
        height: 428px;
    }

    .targetRow6{
        /*border: 3px solid black;*/
        width: 468px;
        height: 107px;
    }
    .targetCell6{
        border: 3px solid black;
        width: 117px;
        height: 107px; 
    }

    .targetTable7{
        /*border: 3px solid black;*/
        width: 725px;
        height: 344px;
    }

    .targetRow7{
        /*border: 3px solid black;*/
        width: 725px;
        height: 86px;
    }
    .targetCell7{
        border: 3px solid black;
        width: 145px;
        height: 86px; 
    }

    .tableWithSplits1{
        position:absolute;
        top: 5px;
        left: 30%;
    }

    .tableWithSplitsDemo{
        position:absolute;
        left: 50%;
        top: 20%;
    }

    .cellToFill1{
        width: 270px;
        height: 300px;
        border: 1px solid black;

    }

    .tableToFill1{
        width: 540px;
        height: 300px;
        position: absolute;
        left: 1px;
        bottom: 10px;
    }

    .tableToFillDemo{
        border: black;
        width: 343px;
        height: 204px;
        position: absolute;
        top: 45%;      
    }

    .tableWithSplits2{
        position:absolute;
        top: 5px;
        left: 30%;
    }
    .tableToFill2{
        width: 540px;
        height: 300px;
        position: absolute;
        left: 10px;
        bottom: 10px;


    }
    .cellToFill2{
        width: 270px;
        height: 150px;
        border: 1px solid black;

    }
    .tableWithSplits3{
        position:absolute;
        top: 5px;
        left: 30%;
    }
    .tableToFill3{
        width: 540px;
        height: 300px;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    .cellToFill3{
        width: 180px;
        height: 150px;
        border: 1px solid black;

    }
    .tableWithSplits4{
        position:absolute;
        top: 5px;
        left: 30%;
    }
    .tableToFill4{
        width: 540px;
        height: 300px;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    .cellToFill4{
        width: 180px;
        height: 100px;
        border: 1px solid black;

    }
    .tableWithSplits5{
        position:absolute;
        top: 5px;
        left: 30%;
    }
    .tableToFill5{
        width: 540px;
        height: 300px;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    .cellToFill5{
        width: 135px;
        height: 100px;
        border: 1px solid black;

    }
    .tableWithSplits6{
        position:absolute;
        top: 5px;
        left: 30%;
    }
    .tableToFill6{
        width: 540px;
        height: 300px;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    .cellToFill6{
        width: 135px;
        height: 75px;
        border: 1px solid black;      
    }
    .tableWithSplits7{
        position:absolute;
        top: 5px;
        left: 30%;
    }
    .tableToFill7{
        width: 540px;
        height: 300px;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    .cellToFill7{
        width: 108px;
        height: 75px;
        border: 1px solid black;       
    }



    .loginDiv{
        width: 90%;
        height: 28%;
        background-color: transparent;
        position: absolute;
        top:50%;
        left: 0;
        right: 0;
        margin: auto;

    }


    .usernameDiv{
        width: auto;
        height: auto;
        background-color: transparent;
        position: relative;
        top:10%;
        left: 2%;
        margin: auto;


    }
    
    
    .divMiddle{
        width: 100%;
        height: auto;
        
        background-color: transparent;
        position: absolute;
        top:40%;
        left: 1%;
        right: 1%;
        margin: auto;
        

    }
    
    
    .divMiddleScrollable{
        width: 98%;
        height: 50%;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
        background-color: transparent;
        position: absolute;
        top:40%;
        left: 1%;
        right: 1%;
        margin: auto;
        border:1px solid gray;

    }
    
    
    .divLeft{
        width: 25%;
        height: auto;
        background-color: transparent;
        position: absolute;
        top:40%;
        left: 1%;
        
        margin: auto;


    }
    
    
    .divRight{
        width: 75%;
        height: auto;
        background-color: transparent;
        position: absolute;
        top:40%;
        right: 2%;
        
        margin: auto;


    }

    .usernameHeader{
        width: auto;
        height: auto;
        background-color: transparent;
        position: relative;
        top:2%;
        left: 2%;
        margin: auto;
        font-size: 20px;
        font-family: EnigmaB_2;
        color: #57bb58;
        text-shadow: none;
        display: inline;
    }
    
    
    .userInfoHeaderTitle{
        width: auto;
        height: auto;
        background-color: transparent;
        position: relative;
       
   
        top:2%;
        left: 2%;
        margin: 0,5px,0,0;
        font-size: 21px;
        font-family: EnigmaB_2;
        color: black;
        text-shadow: none;
        display: block;
        text-decoration: underline;
    }
    
    .userInfoHeader{
        width: auto;
        height: auto;
        background-color: transparent;
        position: relative;
        top:2%;
        left: 2%;
        margin: 0,5px,0,0;
        font-size: 20px;
        font-family: EnigmaB_2;
        color: #57bb58;
        text-shadow: none;
        display: block;
        
    }
    
    .userInfoContent{
        width: auto;
        height: auto;
        
       
        background-color: transparent;
        position: relative;
        top:2%;
        left: 2%;
        margin: 0,5px,0,0;
        font-size: 20px;
        font-family: EnigmaB_2;
        color: black;
        text-shadow: none;
        display: block;
    }


    .failedLoginHint{
        width: auto;
        height: auto;
        background-color: transparent;
        position: absolute;
        top:55%;
        left: 2%;
        margin: auto;
        font-size: 30px;
        font-family: EnigmaB_2;
        color: black;
        text-shadow: none;
        display: inline;
    }


    .createUserHint{
        width: auto;
        height: auto;
        background-color: transparent;
        position: absolute;
        top:70%;
        left: 2%;
        margin: auto;
        font-size: 20px;
        font-weight: bold;
        font-family: EnigmaB_2;
        color: #57bb58;
        text-shadow: none;
        display: inline;
    }


    .executionProgress[value]{
       
        border: 2px;
        border-radius: 10px;
        width: 500px;
        height: 50px;
        position: absolute;
        top: 63%;
        left: 30%;

    }

    progress[value]::-webkit-progress-bar {
        background-color: lightgray;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    progress[value]::-webkit-progress-value{
        background-color: #57bb58;
        border-radius: 5px; 

    }






    .loginInput {
        width: 80%;
        height: 10%;
        background-color: transparent;
        position: relative;
        top:20%;
        left: 10%;
        right: 2%;
        margin: auto;
    }
    
    .loginInput2 {
        width: 80%;
        height: 10%;
        background-color: transparent;
        position: relative;
        top:20%;
        left: 11.5%;
        right: 2%;
        margin: auto;
    }



    .loginInstruction{
        width: auto;
        height: auto;
        background-color: transparent;
        position: absolute;
        top:42%;
        left: 2%;
        margin: auto;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        text-shadow: none;
        font-family: EnigmaB_2;
        color: #57bb58;
    }

    
    
    .headerTopMiddle{
        width: auto;
        height: auto;
        background-color: transparent;
        position: absolute;
        top:25%;
        left: 5%;
        right: 5%;
        margin: auto;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        text-shadow: none;
        font-family: EnigmaB_2;
        color: #57bb58;
    }




    .appName{
        width: auto;
        height: auto;
        background-color: transparent;
        position: absolute;
        bottom:2%;
        right: 5%;
        margin: auto;
        font-size: 75px;
        font-weight: bold;
        text-align: center;
        text-shadow: none;
        font-family: EnigmaB_2;
        color: white;
    }


    .appVersion{
        width: auto;
        height: auto;
        background-color: transparent;
        position: absolute;
        bottom:2%;
        left:2%;
        margin: auto;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: none;
        font-family: EnigmaB_2;
        color: white;
    }



    .testname{
        width: 500px;
        height: 300px;
        background-color: transparent;
        position: absolute;
        top:20%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 55px;
        font-weight: bold;
        text-align: center;
        text-shadow: none;
        font-family: EnigmaB_2;
    }

    .wordpairexample{
        /*        width: 500px;
                height: 200px;*/
        background-color: transparent;
        position: absolute;
        font-size:30px; 
        text-shadow: none;
    }

    .instructionText1{
        font-size: 25px;
        color: black;
        text-shadow: none;
        text-align: left;
        font-weight: bold;       
    }

    .instructionText2{
        font-size: 25px;
        color: black;
        text-shadow: none;
        text-align: center;
        font-weight: bold;       
    }

    .instructionTextDescription{
        font-size: 20px;
        color: black;
        text-shadow: none;
        text-align: justify;
        font-weight: normal;       
    }

    /*    .divWithRoundedCorners{
            margin-left: auto;
            margin-right: auto;
            background: lightblue;
            border-radius: 10px;
            width: 90%;
        }*/

    .instructionTextDescriptionBold{
        font-size: 40px;
        color: black;
        text-shadow: none;
        text-align: justify;
        font-weight: bold;

    }

    .wordrectangle{
        width: 160px;
        height: 50px;
        background: #b9c68d;
        border-radius: 1px;
        border:solid 2px black ;
        text-shadow: none;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 50px;




        /*        text-shadow: none;
                text-align: center;
                background: #b9c68d;
                height: 60px;
                width: 100px;
                border:solid 2px black;      
                text-shadow: none;
                overflow: hidden;*/
    }

    /*    .transitionPageText{
            font-size: 45px;
            color: black;
            text-shadow: none;
            position: absolute;
            top: 30%;
            left: 5%;
        }*/


    .taskTitle{
        font-size: 40px;
        text-shadow: none;
        color: black;
    }







    .alertText{
        font-size: 30px;
        text-shadow: none;   
        color: red;
        border: red solid 1px;
        display: none;
    }

    div.centre
    {
        text-align: left;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
    }


    div.originalImage1 {
        position: absolute;
        bottom: 10px;
        right: 1px;

    }





    .imageTileStyle{

    }

    .imagetileAppearance{
        display: block;
    }




}



root { 
    display: block;
}



