<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->


    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.screening"
        versionCode="10" 
        version   = "1.0.0">
    <name>Screening</name>    
    <preference name="orientation" value="landscape" /> 
    <preference name="DisallowOverscroll" value="true" />
    <preference name="fullscreen" value="true" />
    <preference name="loglevel" value="DEBUG" />  
    <preference name="stay-in-webview" value="false" />   
    <description>
       This is the Screening-App of the NeuroCare-System. This app will be used only for the testing phase. 
    </description>
    
    <author href="http://www.ascora.de" email="aem@ascora.de">
        Abdelkarim El Moussaoui 
    </author>
<icon src="icon.png" />
<gap:splash src="splash.png" gap:platform="ios" width="320" height="200"/>
<gap:splash src="splash.png" gap:platform="android" width="320" height="200"/>

  
</widget>